In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
df= pd.read_csv("/home/admn/Downloads/zoos.csv")
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [33]:
class_type_output = df["class_type"]
df = df.drop("class_type", axis=1).drop("animal_name",axis=1)
print(df)

     hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
0       1         0     0     1         0        0         1        1
1       1         0     0     1         0        0         0        1
2       0         0     1     0         0        1         1        1
3       1         0     0     1         0        0         1        1
4       1         0     0     1         0        0         1        1
..    ...       ...   ...   ...       ...      ...       ...      ...
96      1         0     0     1         0        0         0        1
97      1         0     1     0         1        0         0        0
98      1         0     0     1         0        0         1        1
99      0         0     1     0         0        0         0        0
100     0         1     1     0         1        0         0        0

     backbone  breathes  venomous  fins  legs  tail  domestic  catsize
0           1         1         0     0     4     0         0        1
1           1         1         0     0     4     1         0        1
2           1         0         0     1     0     1         0        0
3           1         1         0     0     4     0         0        1
4           1         1         0     0     4     1         0        1
..        ...       ...       ...   ...   ...   ...       ...      ...
96          1         1         0     0     2     1         0        1
97          0         1         1     0     6     0         0        0
98          1         1         0     0     4     1         0        1
99          0         1         0     0     0     0         0        0
100         1         1         0     0     2     1         0        0

[101 rows x 16 columns]

In [34]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, class_type_output, test_size=0.20)

In [35]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)
y_prediction = classifier.predict(x_test)
y_prediction

array([5, 3, 4, 6, 1, 6, 1, 1, 1, 1, 6, 4, 1, 2, 1, 1, 1, 6, 1, 7, 1])

In [36]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
confusion_matrix(y_test,y_prediction)

array([[11,  0,  0,  0,  0,  0,  0],
       [ 0,  1,  0,  0,  0,  0,  0],
       [ 0,  0,  1,  0,  0,  0,  0],
       [ 0,  0,  0,  2,  0,  0,  0],
       [ 0,  0,  0,  0,  1,  0,  0],
       [ 0,  0,  0,  0,  0,  1,  0],
       [ 0,  0,  0,  0,  0,  3,  1]])

In [37]:
print(classification_report(y_test, y_prediction))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        11
           2       1.00      1.00      1.00         1
           3       1.00      1.00      1.00         1
           4       1.00      1.00      1.00         2
           5       1.00      1.00      1.00         1
           6       0.25      1.00      0.40         1
           7       1.00      0.25      0.40         4

    accuracy                           0.86        21
   macro avg       0.89      0.89      0.83        21
weighted avg       0.96      0.86      0.86        21

In [38]:
print(accuracy_score(y_test, y_prediction))

0.8571428571428571

In [39]:
predicted_class = list(y_prediction)
actual_class = list(y_test)
for i in range(len(predicted_class)):
    print("Predicted class =", predicted_class[i],"\tActual class =",actual_class[i])

Predicted class = 5 	Actual class = 5
Predicted class = 3 	Actual class = 3
Predicted class = 4 	Actual class = 4
Predicted class = 6 	Actual class = 6
Predicted class = 1 	Actual class = 1
Predicted class = 6 	Actual class = 7
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 6 	Actual class = 7
Predicted class = 4 	Actual class = 4
Predicted class = 1 	Actual class = 1
Predicted class = 2 	Actual class = 2
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 6 	Actual class = 7
Predicted class = 1 	Actual class = 1
Predicted class = 7 	Actual class = 7
Predicted class = 1 	Actual class = 1